<div class="users form">
<?= $this->Form->create($user) ?>
    <fieldset>
    <br>
        <h1 style="color: black;">USER REGISTRATION</h1>
        <?= $this->Form->control('name') ?>
        <?= $this->Form->control('password') ?>
        <?= $this->Form->control('email') ?>
   </fieldset>

				<?= $this->Form->button('Register',  ['class' => 'btn btn-info']) ?>

<?= $this->Form->end() ?>
</div>